@import '../../mixins';

.todos__todo-container {
  margin-top: 20px;
  background: rgb(255, 252, 240);
  @include boxShadow(); 
  padding: 10px;
  width: 100%;
  border-radius: 2px;

  .todos__left-container {
    -weblit-flex: 1;
    flex: 1;
    margin-right: 30px;
  }

  .todos__todo {
    @include displayFlex();
    justify-content: space-between; 
    align-items: center;
  
    input {
      padding: 20px;
      width: 100%;
      margin-bottom: 10px;
      margin-top: 8px;
      border-radius: 6px;
      border: none;
      @include boxShadow(); 
      outline: none;

      &::placeholder {
        text-decoration: none;
      }
    }
  
    textarea {
      padding: 20px;
      width: 100%;
      height: auto;
      resize: vertical;
      border-radius: 6px;
      border: none;
      outline: none;
      @include boxShadow(); 
    }
  }
}

.todos__tittle {
  @include displayFlex();
  flex-direction: column;
}

.todos__tittle {
  span {
    font-size: 20px;
  }
}

.inWork-status {
  color: rgb(226, 203, 99);
}

.open-status {
  color: rgb(66, 174, 207);
}

.done-status {
  color: rgb(92, 189, 92);
}

.line-through {
  text-decoration: line-through;
  color: rgb(71, 71, 71);
}

.todos__todo div div {
  word-wrap: break-word;
  word-break: break-all;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.4;
}

.todos__date {
  display: block;
  text-decoration: none;
  font-size: 16px;
  font-style: italic;
  text-align: left;
  color: rgb(126, 126, 126);
}

.todos__btns {
  @include displayFlex();
  flex-direction: column;
}

.done {
  background-color: rgb(212, 212, 212) !important;
}

.doneBtn {
  background-color: rgb(99, 226, 162) !important;
}

.inWork {
  background-color: rgb(212, 212, 212) !important;
}

.inWorkBtn {
  background-color: rgb(255, 223, 80) !important;
}

.deleteBtn {
  background-color: rgb(255, 103, 103) !important;
}

.saveBtn {
  background-color: rgb(99, 226, 162) !important;
}

.todos__todo button {
  @include buttonShadow(); 
  border: none;
  background-color: rgb(80, 134, 185); 
  font-weight: bold;
  font-size: 16px;
  border-radius: 4px;
  width: 100px;
  @include displayFlex();
  justify-content: center;
  align-items: center;
  height: 30px;
  outline: none;
  height: 35px;
  cursor: pointer;

  & + button {
    margin-top: 10px;
  }

  &:disabled:hover {
    opacity: 1;
    color: rgb(177, 177, 177);
  }

  &:hover {
    opacity: .8;
    color: #fff;
    transition: opacity .3s, color .4s;
  }

  &:active {
    background-color: rgb(65, 96, 126); 
    color: #fff;
  }
}