@import '../../mixins';

.search-todo-container {
  padding-top: 80px;
  text-align: center;
  
  form {
    @include displayFlex();
    flex-direction: row;
    align-items: center;
    max-width: 750px;
    margin: 0 auto;
    @include boxShadow(); 
    border-radius: 6px;

    input {
      padding: 20px;
      width: 100%;
      background-color: transparent; 
      border: none;
      outline: none;
      font-size: 18px;
    }
  
    button {
      padding: 8px 14px;
      background-color: transparent; 
      box-shadow: none;
      font-weight: bold;
      font-size: 20px;
      border: none;
      cursor: pointer;
      outline: none;
  
      &:hover {
        opacity: .8;
        color: #fff;
        transition: opacity .3s, color .4s;
      }
  
      &:active {
        background-color: rgb(65, 96, 126); 
        color: #fff;
        transition: background-color .3s, color .4s;
      }
    }
  }
}