.header {
  background-color: rgb(80, 134, 185); 
  box-shadow: 0 0 6px rgba(0,0,0,0.5); 
  width: 100%;
  display: 'flex';
  padding: 16px; 
  justify-content: 'space-between';
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;
  
  a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(34, 34, 34);
    font-style: italic;
    
    &:hover {
      color: #fff;
      transition: color .4s;
    }
  }
}

.scrolled-header {
  background-color: white !important;
}