.header {
  background-color: rgb(80, 134, 185); 
  width: 100%;
  padding: 6px; 
  display: 'flex';
  padding: 16px; 
  justify-content: 'space-between';
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  
  a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(34, 34, 34);
    font-style: italic;
    
    &:hover {
      color: #fff;
    }
  }
}